route:
  receiver: "mail"
  repeat_interval: 4h
  group_by: [ alertname ]

receivers:
  - name: "mail"
    email_configs:
      - smarthost: "smtp.gmail.com:587"
        auth_username: "automations.fs@gmail.com"
        auth_password: "{{ alertmanager_smtp_password }}"
        from: "automations.fs@gmail.com"
        to: "fsemti@sportinggroup.co.uk"