route:
  receiver: "mail"
  repeat_interval: 4h
  group_by: [ alertname ]

receivers:
  - name: "mail"
    email_configs:
      - smarthost: "{{  smtp_host }}"
        auth_username: "{{  smtp_user }}"
        auth_password: "{{ alertmanager_smtp_password }}"
        from: "{{ smtp_from }}"
        to: "{{ smtp_to   }}"